<h2>Добавление записи о прочитанной книге</h2>
<h6 class="text-muted">👁 Запись будет видна всем</h6>
<form>
    <div class="form-group">
        <label>Заголовок книги</label>
        <input name="title" [(ngModel)]="currentBook.title" type="text" class="form-control" placeholder="Укажите заголовок">
    </div>
    <div class="form-group">
        <label>Автор книги</label>
        <input type="text" name="author" [(ngModel)]="currentBook.author" class="form-control" placeholder="Укажите автора">
    </div>
    <div class="form-group">
        <label>Приблизительная дата прочтения книги</label>
        <div class="row">
            <div class="input-group col-sm-12 col-md-6 col-lg-5 col-xl-4">
                <input type="number" [(ngModel)]="currentBook.readYear" name="readYear" class="form-control" placeholder="Год">
                <input type="number" [(ngModel)]="currentBook.readMonth" name="readMonth" class="form-control" placeholder="Месяц">
                <input type="number" [(ngModel)]="currentBook.readDay" name="readDay" class="form-control" placeholder="День">
            </div>
        </div>

    </div>
    <div class="form-group">
        <label>Ваши примечания</label>
        <textarea name="notes" [(ngModel)]="currentBook.notes" rows="5" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="save()">Сохранить</button>
    </div>
</form>