<div class="mb-3 pt-2 book-box">
    <h5>
        {{book.title}}
        <span class="hidden-md-down book-title-btns ml-2" *ngIf="isAuth">
            <a *ngIf="isMyBook" [routerLink]="['/books', book.id]" class="small">[редактировать]</a>
            <a *ngIf="!isMyBook"
               [queryParams]="{ob: book.id}"
               [routerLink]="['/books/add']"
               class="small">[прочитал]</a>
            <a *ngIf="!isMyBook"
               [queryParams]="{ob: book.id}"
               [routerLink]="['/wish/edit/add']"
               class="small">[прочитать позже]</a>
        </span>
    </h5>
    <h6>{{book.author}}</h6>
    <div class="text-muted mb-1">
        [{{book.createdAt ? book.createdAt.split(' ')[0] : ''}}] <span>{{book.notes}}</span>
    </div>
    <div class="hidden-lg-up" *ngIf="isAuth">
        <a *ngIf="isMyBook" [routerLink]="['/books', book.id]" class="btn btn-sm btn-secondary">Редактировать</a>
        <a *ngIf="!isMyBook"
           [queryParams]="{ob: book.id}"
           [routerLink]="['/books/add']"
           class="btn btn-sm btn-secondary">Прочитал</a>
        <a *ngIf="!isMyBook"
           [queryParams]="{ob: book.id}"
           [routerLink]="['/wish/edit/add']"
           class="btn btn-sm btn-secondary">Прочитать позже</a>
    </div>
</div>
