<div *ngIf="pageName === 'wish'">
    <h2>Добавление книги, чтобы прочитать позже</h2>
    <h6 class="text-muted">🕶 Запись может быть прочитана кем-то другим когда-нибудь</h6>
</div>
<div *ngIf="pageName === 'bookList'">
    <h2>Добавление записи о прочитанной книге</h2>
    <h6 class="text-muted">👁 Запись будет видна всем</h6>
</div>

<form #editBookForm="ngForm" class="mt-4">
    <div class="form-group">
        <label>Заголовок книги</label>
        <input name="title"
               [(ngModel)]="currentBook.title"
               type="text"
               class="form-control"
               placeholder="Укажите заголовок"
               required>
    </div>

    <div class="form-group">
        <label>Автор книги</label>
        <input type="text" name="author" [(ngModel)]="currentBook.author" class="form-control"
               placeholder="Укажите автора">
    </div>

    <div class="form-group" *ngIf="pageName === 'wish'">
        <label>Приоритет к прочтению</label>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4">
                <input type="number" [(ngModel)]="currentBook.priority" name="priority" class="form-control" min="1"
                       max="100">
                <small class="form-text text-muted">Укажите число от 1 до 100. Чем больше число, темы выше в списке
                    будет запись.
                </small>
            </div>
        </div>
    </div>

    <div class="form-group" *ngIf="pageName === 'bookList'">
        <label>Приблизительная дата прочтения книги</label>
        <div class="row">
            <div class="input-group col-sm-12 col-md-6 col-lg-5 col-xl-4">
                <input type="number" [(ngModel)]="currentBook.readYear" name="readYear" class="form-control"
                       placeholder="Год">
                <input type="number" [(ngModel)]="currentBook.readMonth" name="readMonth" class="form-control"
                       placeholder="Месяц">
                <input type="number" [(ngModel)]="currentBook.readDay" name="readDay" class="form-control"
                       placeholder="День">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Ваши примечания</label>
        <textarea name="notes" [(ngModel)]="currentBook.notes" rows="5" class="form-control"></textarea>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error">
        <strong>Ошибка!</strong> {{error}}
    </div>

    <div class="d-flex justify-content-start flex-wrap align-content-around">
        <button class="btn btn-primary mb-1"
                [disabled]="!form.valid"
                (click)="saveAndClose()">Сохранить и закрыть
        </button>
        <button class="btn btn-secondary mb-1 ml-sm-1"
                [disabled]="!form.valid"
                (click)="saveAndAdd()">Сохранить и добавить еще
        </button>
        <button class="btn btn-danger mb-1 ml-auto"
                [hidden]="!currentBook.id"
                (click)="remove()">Удалить
        </button>
    </div>

</form>
