<div class="jumbotron mt-4">
    <h1 class="display-4">Привет, читатель!</h1>
    <p class="lead">Этот сервис создан для того, чтобы вы могли сохранить и в любое время получить список прочитанных вами книг.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Добавить запись о книге »</a>
    </p>
</div>
<h5 class="mt-2">Недавние пользователи</h5>
<ul class="list-inline">
    <li *ngFor="let user of latestUsers" class="list-inline-item">
        <a [routerLink]="[user.nickname, 'books']"
            [queryParams]="{u: user.id}">{{user.nickname}}</a>
        <sup>{{user.booksCount}}</sup>
    </li>
</ul>
<h5 class="mt-2">Подписки</h5>
<ul>
    <li *ngFor="let book of latestNoteBooks">
        {{book.title}} ~
        <a [routerLink]="[book.user.nickname, 'books']" [queryParams]="{u: book.user.id}">{{book.user.nickname}}</a>
    </li>
</ul>