<div class="jumbotron text-center mt-4">
    <h1 class="display-4">Привет, читатель!</h1>
    <p class="lead">Этот сервис создан для того, чтобы вы могли сохранить и в любое время получить список прочитанных
        вами книг.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg"
            [routerLink]="['/books/add']"
            role="button">Добавить <br class="hidden-sm-up">запись о книге »</a>
    </p>
</div>
<div class="text-center mb-4">
    <h4>Конечно, такой сервис не единственный</h4>
    <p>Но изученные нами конкуренты имеет некоторые недостатки и по некоторым не удовлетворяли авторов проекта. Речь не только о фатальном недостатке.</p>
    <h5>Итак, наши преимущества:</h5>
</div>
<div class="row features text-center">
    <div class="col-md-6 col-lg-3">
        <h5>Свобода ввода</h5>
        <p>
            Нет привязки к конкретным книгам. Пишите в заголовок и в автора то, что вы сами хотите. Указывайте дату прочтения, какую
            вам удобно. Можете указать полную дату, можете указать только год, либо добавить месяц, если помните. Можете
            вообще не указывать дату прочтения.
        </p>
    </div>
    <div class="col-md-6 col-lg-3">
        <h5>Ваши примечания</h5>
        <p>
            Вместо оценок мы предлагаем добавить ваши примечания к книге, где вы можете указать насколько вам понравилась книга, что
            в ней интересного или кому бы вы её порекомендовали в удобном вам формате.
        </p>
    </div>
    <div class="col-md-6 col-lg-3">
        <h5>Легкость просмотра</h5>
        <p>
            Мы постарались сделать список прочитанного наиболее легким, но в то же время информативным. Данные общедоступны для чтения.
            В любое время вы можете поделиться вашим списком.
        </p>
    </div>
    <div class="col-md-6 col-lg-3">
        <h5>Долговечность</h5>
        <p>Все ваши записи попадают в <a href="https://github.com/knigopis/repo.knigopis.com" target="_blank">git-репозиторий</a>,
            который синхронизируется с отказоустойчивым облачным сервисом - GitHub, где вы всегда сможете получить к ним
            доступ. А если GitHub откажется от хранения таких данных, мы найдём ему замену.</p>
        <p>
        </p>
    </div>
</div>
<div *ngIf="subscriptions.length">
    <h3 class="mt-2">
        Подписки
    </h3>
    <ul class="list-inline">
        <li *ngFor="let sub of subscriptions" class="list-inline-item">
            <a routerLink="{{sub.subUser.nickname}}/books" [queryParams]="{u: sub.subUser.id}">{{sub.subUser.nickname}}</a>
            <sup>
                {{sub.subUser.booksCount}}
                <span class="text-success" *ngIf="sub.subUser.booksCount - sub.lastBooksCount">
                    ({{sub.subUser.booksCount - sub.lastBooksCount > 0 ? '+' : ''}}{{sub.subUser.booksCount - sub.lastBooksCount}})
                </span>
            </sup>
        </li>
    </ul>
</div>

<h3 class="mt-2">Недавние пользователи</h3>
<ul class="list-inline">
    <li *ngFor="let user of latestUsers" class="list-inline-item">
        <a routerLink="{{user.nickname}}/books"
           [queryParams]="{u: user.id}">{{user.nickname}}</a>
        <sup>{{user.booksCount}}</sup>
    </li>
</ul>
<h3 class="mt-2">Некоторые недавние книги с примечаниями</h3>

<blockquote class="blockquote" *ngFor="let book of latestNoteBooks">
    <p class="mb-0">{{book.notes}}</p>
    <div class="text-muted small">{{book.title}}</div>
    <div class="text-muted small">{{book.author}}</div>
    <footer class="blockquote-footer">
        <a [routerLink]="[book.user.nickname, 'books']" [queryParams]="{u: book.user.id}">{{book.user.nickname}}</a>
    </footer>
</blockquote>

