<h3>
    Список прочитанных книг пользователя
    <a [routerLink]="['/',user?.nickname, 'books']" [queryParams]="{u: user?.id}">{{user.nickname}}</a>
</h3>
<hr>

<div class="row">
    <div class="col-md-3 push-md-9">
        <h4>Оглавление</h4>
        <ul class="list-group">
            <li class="list-group-item justify-content-between" *ngFor="let bg of bookGroups">
                {{bg.year || 'Прочие года'}}
                <span class="badge badge-default badge-pill">
                    {{bg.count}}
                </span>
            </li>
        </ul>
    </div>
    <div class="col-md-9 pull-md-3">

        <div *ngIf="userBooks">
            <div class="mb-4" *ngFor="let bg of bookGroups">
                <h2>{{bg.year || 'Прочие года'}}</h2>
                <k-book *ngFor="let book of userBooks | yearSort: bg.year" [book]="book"></k-book>
            </div>
        </div>
    </div>
</div>


