<div class="bg-inverse">
  <div class="container">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer"
        aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <a class="navbar-brand" [routerLink]="['/']">Книгопись</a>

      <div class="collapse navbar-collapse" id="navbarsExampleContainer">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Test</a>
          </li>
        </ul>
        <div class="pull-right">
          <span class="text-white">Войти через</span>
          <div id="uLogin" data-ulogin="display=small;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=;mobilebuttons=0;callback=initAuth"></div>
        </div>
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link" href="#">AUTH</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
