/* You can add global styles to this file, and also import other style files */
.loader {
    height: 0.8rem;
    width: 0.3rem;
    display: inline-block;
    animation: rotate 3s infinite ease-out;
    border: 2px solid #444;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    background-color: red;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2840deg);
    }
}

@media (min-width: 991px) {
    .book-box:hover .hidden-md-down.book-title-btns {
        display: inline-block;
    }

    .book-box .hidden-md-down.book-title-btns {
        display: none;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

.container {
    max-width: 1024px;
}

@media (max-width: 575px) {
    .navbar-toggleable > .container {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggleable .navbar-nav .dropdown-menu {
        position: absolute;
        float: left;
    }
}