/* You can add global styles to this file, and also import other style files */
.loader {
  height: 0.8rem;
  width: 0.3rem;
  display: inline-block;
  animation: rotate 3s infinite ease-out;
  border: 2px solid #444;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  background-color: red;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(2840deg); }
}

@media (min-width: 991px) {
  .book-box:hover .hidden-md-down.book-title-btns {
      display: inline-block;
  }
  .book-box .hidden-md-down.book-title-btns {
      display: none;
  }
}

